<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="/echarts/echarts.min.js"></script>
    <script src="/echarts/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body class="childrenBody">

<div style="padding: 20px;">
    <div id="main" style="width: 600px;height:600px;"></div>
</div>

<script>
    var myChart = echarts.init(document.getElementById('main'));
    var cityList = [];
    var dataList = [];
    option = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        }
    };

    $.ajax({
        url: "/queryBar",
        method: "get",
        dataType: "json",
        success: function (data) {
            myChart.setOption({
                xAxis: {
                    type: 'category',
                    data: data.cityList
                },
                series: [
                    {
                        data: data.dataList,
                        type: 'bar',
                        showBackground: true,
                        backgroundStyle: {
                            color: 'rgba(180, 180, 180, 0.2)'
                        }
                    }
                ]
            })
        }

    });

    myChart.setOption(option);
</script>

</body>
</html>